.settings-heading {
  padding: 1em 0;
}

.kintoneplugin-input-text {
  width: 20em;
}

h3.kintone-titlee {
  font-size: 40px;
  color: black;
}

.kintone-si-conditions{
  content: global content
}

.CancelButton{
  margin-left: 176px;
  margin-top: -48px;
}