.plugin-space-heading {
  font-size: 1.5rem;
  margin: 0.8rem;
}
.plugin-space-message {
  display: inline-block;
  font-size: 1.2em;
  margin: 0.8rem;
  margin-top: 0;
}

.info-icon {
  /* src: "info.svg" !important; */
  position: absolute;
  width: 15px;
  height: 15px;
  display: block !important;
  margin-top: 15px;
}